body {
  background-image: url('/imagesBackground/img1.jpg');
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #f4f4f4; 
}*/

/*.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 89px;
  background-color: #DEC4FF;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  z-index: 999; 
}

.navbar img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.footer {
  margin-top: 320px;
  padding: 2px 0;
  background-color: #cca9dd;
  
}

.footer p {
  text-align: center;
  color: #000000;
}*/
